{% extends "header.html" %}
{% block body %}
<div class="img-holder" align="center"><img src="/static/img/mainlogo.jpg" alt="Banner" width="30%" max-height="150px" /></div>
</br>
<p><h1 align="center"><strong>OUR MISSION</strong><h1><p>
<p><h2 align="center">ZimboPy exists to empower Zimbabwean girls with the skills     necessary to actively engage in the tech industry. In doing so we hope to help address the gender gap present in tech related fields, which is particularly magnified in Africa. ZimboPy also seeks to equip girls with the tools, guidance and resources needed to create technologies that have the power to change not only themselves but their communities.<h2><p>
</br>
<div><img  src="/static/img/thenewline.jpg" alt="First slide" align="center" width="1350" height="100"></div>
</br>
<p><h1 align="center"><strong>The Data</strong><h1><p>
</br>
<div align="center"><img  src="/static/img/data3.jpg" alt="First slide" align="center" width="550" height="350"></div>
</br>
<div align="center"><img  src="/static/img/data2.jpg" alt="First slide" align="center" width="550" height="350"></div>
</br>
<div><img  src="/static/img/border.jpg" alt="First slide" align="center" width="1350" height="80"></div>
<p><h1 align="center"><strong>What we're doing</strong><h1><p>
<div><img  src="/static/img/front.jpg" alt="First slide" align="center" width="1350" height="550"></div>
</br>
</br>
<p><h2 align="center"> <strong>•	 ZimboPy Coding Clubs </strong>make sure we're cultivating an interest in tech early by introducing girls to python programming from as early as 10 years old. They work to sustain and build that interest in high school students a through creative curriculum. We then work to connect university aged young women to mentors and internship/ job opportunities.<h2><p>
</br>
<p><h2 align="center"> <strong>•	 Our Mentorship Program</strong> allows the girls in our clubs to meet and work with women from around the world who are experts in their fields. Students are able to obtain guidance on how to create projects that can solve problems within the community..<h2><p>
</br>
<p><h2 align="center"> <strong>•	Community Stewardship</strong> is implemented in our coding clubs in community centers located in underserved areas. We teach women within these districts how to use a computer. This can possibly become a bridge to better employment opportunities. The younger girls in these clubs are taught life skills that we hope will increase their confidence and lead to positive life choices.<h2><p>
{% endblock %}