{% extends "header.html" %}
{% block body %}
<div class="img-holder" align=""><img src="/static/img/about us header.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/after headerline.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/missiona.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/data1a.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/data 2a.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/whata.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/what2a.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/what3a.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/what4a.jpg" alt="Banner"/></div>
</br>
{% endblock %}