{% extends "header.html" %}
{% block body %}
<div class="img-holder" align=""><img src="/static/img/about us header new.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/after header line actual.jpg" alt="Banner"/></div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="img-holder" align=""><img src="/static/img/missionactual.jpg" alt="Banner"/></div>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="img-holder" align=""><img src="/static/img/data actual.jpg" alt="Banner" /></div>

<div class="img-holder" align=""><img src="/static/img/data2 actual.jpg" alt="Banner"/></div>

<div class="img-holder" align=""><img src="/static/img/what actual.jpg" alt="Banner"/></div>
</br>
</br>
</br>
</br>
<div class="img-holder" align=""><img src="/static/img/what2 actual.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/what3 actual.jpg" alt="Banner"/></div>
</br>
</br>
</br>
</br>
<div class="img-holder" align=""><img src="/static/img/what4 actual.jpg" alt="Banner"/></div>
</br>
{% endblock %}