{% extends "header.html" %}

{% block body %}
<div class="img-holder" align=""><img src="/static/img/coding club header.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/under top pic.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/coding1.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/coding2.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/coding3.jpg" alt="Banner"/></div>
</br>
{% endblock %}