{% extends "header.html" %}

{% block body %}
<div class="img-holder" align=""><img src="/static/img/social impact header new.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/line for social.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/sisternew.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/empower new.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/innovatenew.jpg" alt="Banner"/></div>
</br>
{% endblock %}