{% extends "header.html" %}

{% block body %}
<div class="img-holder" align=""><img src="/static/img/social impact header.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/line.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/sister new new.jpg" alt="Banner"/></div>
<div class="img-holder" align=""><img src="/static/img/empower.jpg" alt="Banner" width="1350" height="500" /></div>
<div class="img-holder" align=""><img src="/static/img/innovate new new.jpg" alt="Banner"/></div>
</br>
{% endblock %}